body{
    background-color: oldlace;
    
}
.contact{
    background-image: url("butterbread.jpg");
    height: 100%;
    width: 100%;
    background-size:100% 100%;
    background-repeat: no-repeat;
}
.about{
    background-image: url("butterbread.jpg");
    height: 100%;
    width: 100%;
    background-size:100% 100%;
    background-repeat: no-repeat;
    color:white;
    text-align: justify;
    padding: 120px;
} 


.text{
    color: white;
    background-position: center;
    padding: 20%;
    margin-left: 250px;
    
}
#koo {
    color: orange;
    margin-bottom: 20px;
    
}
#foo:hover{
   color:purple;
}
#foo{
    color:burlywood;
    margin-left:150px;
}
#navigate{
    color: orangered;
}
#top{
    background-image: url("splash.cake2.jpg");
    height: 60%;
    width: 100%;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    
}
#top:hover{
    background-image: url("brownBread.jpg");
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    height: 60%;
    width: 100%;

}
.hello{
    text-align: center;
    background-color: aliceblue;
    width: 45%;
    background-position: right;
}
.middle{
    display: flex;
    background-color: rgba(1,1,1,0.8);
    height: 250px;
    width: 100%;
}
.one{
    background-image: url("meatpie.jpg");
    height: 250px;
    width: 100%;
    background-size: 100% 100%;
    margin: 0;
    padding:0;
    background-repeat: no repeat;
    background-position: center;
    

}
.two{
    background-image: url("darkcake.jpg");
    height: 250px;
    width: 65%;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
    background-repeat: no repeat;
    
}
.three{
    background-image: url("breadroll.jpg");
    height: 250px;
    width:65%;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
}
.fooot{
    height: 250px;
    width: 100%;
    text-align: center;
    background-color: rgba(1,1,1,0.2);
    /* overflow: hidden; */
}
.footerZero{
    display: flex;
    background-color: rgba(1,1,1,0.8);
    height: 250px;
    width: 100%;  
}
.footerOne{
    background-image: url("doughnut.jpg");
    height: 250px;
    width: 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}
.footertwo{
    background-image: url("flour.jpg");
    height: 250px;
    width: 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
}
.base{
    background-color: rgba(1,1,1,0.8);
    height: 40px;
    width: 100%;
    color: white;
}


.item-1, 
.item-2, 
.item-3 {
	position: absolute;
  display: flex;
  
  width: 50%;
  
  font-size: 2em;

	animation-duration: 20s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.item-1{
	animation-name: anim-1;
}

.item-2{
	animation-name: anim-2;
}

.item-3{
	animation-name: anim-3;
}

@keyframes anim-1 {
	0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 25%; opacity: 1; }
  33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 25%; opacity: 1; }
  66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 66.66% { left: -100%; opacity: 0; }
  74.96%, 91.62% { left: 25%; opacity: 1; }
  100% { left: 110%; opacity: 0; }
}

.base{
    text-align: center;
    color: antiquewhite;
}
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}